

body {
  background-color: #22333b;
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  max-height: 100%;
  align-items: center;
}

/* header */

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

header {
  top: 0;
  background-color: #22333b;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}


header .logo {
  margin-left: 8.5%;
  padding-right: 10%;
  font-size: 2rem;
  font-weight: 700;
  color: #EAE3E6;
  font-family: monospace;
}

header .logo span {
  font-family: 'Sarabun', sans-serif;
  color: #6E92A1;
  font-weight: normal;
}

/* header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 1.5rem;

} */

.nav-bar {

  list-style: none;

}

/* .nav-bar li {
    display: inline-block;
} */


header a {
  color: #EAE3E6;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: #22333b;
}

/* .nav-link-about {
  background-color: #22333b;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.nav-link-about:hover {
  background-color: #EAE3E6;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.nav-link-portfolio {
  background-color: #22333b;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.nav-link-portfolio:hover {
  background-color: #EAE3E6;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.nav-link-contact {
  background-color: #22333b;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.nav-link-contact:hover {
  background-color: #EAE3E6;
  font-size: 1.2rem;
  padding: 1rem 3rem;
} */

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}



/* nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
} */

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #EAE3E6;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;

  }

  nav a:hover::before {
    transform: scale(1,1);
  }


}



/* end of header */

/* main content */

#main-content {
  font-size: 1rem;
  background-color: #6E92A1;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;

}

.main-copy {
  position: relative;
  border-radius: 10px;
  font-family: Consolas, "courier new";
  color: #abb2bf;
  background-color: #282c34;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  box-shadow: 0 35px 55px rgb(0 0 0 / 25%);
}

.top-box {
position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2.8rem;
  background-color: #f9f2f3;
}

.circle-1 {
  position: relative;
  top: -15px;
  right: 40px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ff6058;
}

.circle-2 {
  position: relative;
  top: -30px;
  right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fbbe32;
}

.circle-3 {
  position: relative;
  top: -45px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #27c93f;
}

.introduce {
  color: #5a606d;
}

.div {
  color: #cb656e;
}
.class {
  color: #d19a66;
}
.intro  {
  color: #98c379;
}

.space {
  margin-left: 20px;
}

#projects-top {
  background-color: #EAE3E6;
  color: #22333b;
  display: flex;
  height: 120vh;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 3rem;
}

.projects-middle {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 10px;
  text-align: center;
}




.projects-middle a {
  color: #22333b;
  text-decoration: none;
}

.projects-middle a:hover {
  color: #22333b;
  font-weight: bolder;
}

#footer {
  background-color: #22333b;
  color: #6E92A1;
  display: flex;
  height: 2vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 5rem;
  padding-top: 2rem;
  padding-bottom: 0px;
}

#footer a {
  color: #6E92A1;
}

#footer a:hover {
  color: #EAE3E6;
}

.iconify {
  font-size: 2rem;
  margin: 2rem;
}

.credit {
  background-color: #22333b;
  color: #6E92A1;
  display: flex;
  height: 2vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
